.circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(104, 103, 103);
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;  
}   

.start-circle{
    background-color: rgba(255, 0, 0, 0.63);
}

.finish-circle{
    background-color: rgba(120, 209, 69, 0.924);
}

.wall-circle{
    background-color: rgb(49, 49, 49);
}

.finish-circle-found{
    animation: stretch1 1s infinite;
    animation-timing-function: ease-out;
}

@keyframes stretch1 {
    0% {
      transform: scale(0.3);
    }
    25%{
        transform: scale(0.6);
    }
    50% {
        transform: scale(0.9);
    }    
    100% {
      transform: scale(1.2);
     
    }
  }

.visited-circle{
    background-color:#1FA2FF;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-delay: 0;
    animation-direction: alternate;
}


@keyframes stretch {
    0% {
      transform: scale(0.3);
     
      background-color:#A6FFCB;
    }
    50% {
        transform: scale(0.6);
        background-color:#12D8FA;
    }    
    100% {
      transform: scale(1.2);
      background-color:#1FA2FF;
    }
  }